* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:visited,
a:link {
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: "Super Plants";
  src: url("../fonts/super_plants.ttf");
}
.button {
  border: 0.0625rem solid black;
  border-radius: 0.35rem;
  box-shadow: 1px 1px 4px -3px gray;
  cursor: pointer;
}
.button--xs {
  width: 4rem;
  height: 2.5rem;
  padding: 0.0625rem;
  font-size: 0.6rem;
  font-weight: bold;
}
.button--sm {
  width: 6rem;
  padding: 0.125rem;
  font-size: 0.8rem;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.button--lg {
  width: 12rem;
  padding: 0.375rem;
  font-size: 1rem;
}
.button--add {
  grid-area: add;
  background-image: linear-gradient(127deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255) 65%);
  border-color: rgb(0, 0, 255);
  color: rgb(0, 0, 255);
  transition: all 300ms;
}
.button--add:hover, .button--add:active {
  background-image: linear-gradient(127deg, rgb(0, 0, 140), rgb(0, 0, 255), rgb(0, 0, 140) 65%);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.button--remove {
  grid-area: remove;
  background-image: linear-gradient(127deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255) 65%);
  border-color: red;
  color: red;
  transition: all 300ms;
}
.button--remove:hover, .button--remove:active {
  background-image: linear-gradient(127deg, darkred, red, darkred 65%);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.button--disabled {
  background-image: linear-gradient(127deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255) 65%);
  border-color: gray;
  color: gray;
  transition: all 300ms;
  cursor: not-allowed;
}
.button--disabled:hover, .button--disabled:active {
  background-image: linear-gradient(127deg, gray, lightgray, gray 65%);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.slider {
  position: relative;
  height: 47vh;
  width: 300%;
  display: flex;
  animation-name: move-slide;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.slider__one, .slider__two, .slider__three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__title {
  position: absolute;
  font-size: 2rem;
  color: white;
}
.slider__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@keyframes move-slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

.card {
  padding: 1vw;
  background-color: rgb(203, 203, 200);
  box-shadow: 5px 6px 8px 0 rgba(0, 0, 0, 0.2);
}
.card__image {
  width: 100%;
}
.card__title {
  color: green;
}
.card__item {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "price price price" "remove count add";
  align-items: center;
  gap: 10px;
}
.card__price {
  grid-area: price;
  margin: 0.7vw;
  color: rgb(12, 12, 12);
  font-weight: bold;
  text-align: center;
}
.card__price::before {
  content: "$";
}
.card__count {
  grid-area: count;
  margin: 0 10px;
  text-align: center;
}

.search-section {
  width: 60vw;
  margin: 2vw;
}
.search-section__form {
  display: flex;
  justify-content: center;
}
.search-section__bar {
  display: flex;
  align-items: center;
}
.search-section__input, .search-section__btn {
  height: 40px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.search-section__input {
  border-right: none;
  flex-grow: 1;
  width: 60vw;
}
.search-section__btn {
  background-color: rgb(94, 29, 168);
  border-left: none;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  gap: 1vw;
  padding: 0.5vw;
  width: calc(100% - 1vw);
}
body .header__title {
  color: green;
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center center;
  place-content: center center;
}
.header__title {
  font-family: Super Plants;
}
.header__logo {
  width: 10vw;
  height: auto;
}
.header__cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__icon {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__icon-span {
  margin-right: 1vw;
}

.main {
  grid-area: main;
}
.main .section {
  width: 100%;
}
.main .section--slider {
  overflow: hidden;
}
.main .section--products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1vw;
}
.main .about-us {
  margin: 1vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5vw;
}
.main .about-us__img {
  width: 100%;
}
.main .about-us__text, .main .about-us__image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.1vw;
}
.main .about-us__text1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.main .about-us__image1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.main .about-us__image2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.main .about-us__text2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.main .about-us__title, .main .about-us__p, .main .about-us__link {
  width: 100%;
  margin-bottom: 1vw;
  margin-left: 1vw;
}

.navbar {
  text-decoration: none;
}
.navbar__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2vw;
}
.navbar .navbar__item--active {
  color: rgb(255, 0, 149);
  font-weight: bold;
}

@media (max-width: 768px) {
  .about-us .about-us {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

form {
  margin: auto;
  text-align: center;
}

fieldset {
  background-color: #B7E4C7;
  border: 2px solid;
  border-color: #2D6A4F;
  border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
  margin-bottom: 4vw;
  padding: 2vw;
}

legend {
  color: white;
  padding: 0.5em;
  background-color: #2D6A4F;
  border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
  text-align: center;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 700;
  font-style: bold;
}

.label-block {
  display: block;
  margin-top: 0.1vw;
  margin-bottom: 0.1vw;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 75%;
  height: 3vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: #D8F3DC;
  border: 1px solid #2D6A4F;
  border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
}/*# sourceMappingURL=main.css.map */