@use"../abstracts/variables" as var;
@use"../abstracts/mixins" as mix;


.main {
    grid-area: main;

    .section {
        width: 100%;

        &--slider {
            overflow: hidden;
        }

        &--products {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr 1fr;
            gap: 1vw;

        }


    }
}