@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.button {
    border: 0.0625rem solid black;
    border-radius: 0.35rem;
    box-shadow: 1px 1px 4px -3px gray;
    cursor: pointer;

    &--xs {
        width: 4rem;
        height: 2.5rem;
        padding: 0.0625rem;
        font-size: 0.60rem;
        font-weight: bold;
    }

    &--sm {
        width: 6rem;
        padding: 0.125rem;
        font-size: 0.80rem;
    }

    &--md {
        width: 9rem;
        padding: 0.25rem;
        font-size: 0.90rem;
    }

    &--lg {
        width: 12rem;
        padding: 0.375rem;
        font-size: 1rem;
    }

    &--add {
        grid-area: add;
        @include mix.button-default(var.$backgroundColorLigth, var.$backgroundColorLigth, var.$backgroundColor);


        &:hover,
        &:active {
            @include mix.button-active(var.$backgroundColorDark, var.$backgroundColor, var.$backgroundColorLigth);

        }
    }

    &--remove {
        grid-area: remove;
        @include mix.button-default(var.$backgroundColorLigth, var.$backgroundColorLigth, red);


        &:hover,
        &:active {
            @include mix.button-active(darkred, red, var.$backgroundColorLigth);

        }
    }

    &--disabled {
        @include mix.button-default(var.$backgroundColorLigth, var.$backgroundColorLigth, gray);

        cursor:not-allowed;

        &:hover,
        &:active {
            @include mix.button-active(gray, lightgray, var.$backgroundColorLigth);

        }
    }
}