@use"../abstracts/variables" as var;
@use"../abstracts/mixins" as mix;

.search-section {
    width: 60vw;
    margin: 2vw;
   


    &__form {
        display: flex;
        justify-content: center;
    }

    &__bar {
        display: flex;
        align-items: center;
    }

    &__input,
    &__btn {
        height: 40px;
        border: 1px solid #ccc;
        padding: 5px 10px;
    }

    &__input {
        border-right: none;
        flex-grow: 1;
width: 60vw;
         
    }

    &__btn {
        background-color: rgb(94, 29, 168);
        border-left: none;
    }

}