@use"../abstracts/variables" as var;
@use"../abstracts/mixins" as mix;

.search {
    width: 50%;
    margin:2vw;
    background-color: rgb(128, 0, 2);
    


&__area {
   
}

    &__input{
       
        width:88%;
        height: 7vh;
        background-color: pink;
        
    }

}

